{% extends 'base.html.twig' %}

{% block title %}Hello CitasController!
{% endblock %}

{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<script>
	$(function () {
		document.getElementById("pasa").disabled = true;
		var fechas = [];
		var dateRange = [];
		var bDates = [];
		let jsonObject = {};
		var nombre_servicio;
		var new_fecha_datepicker;
		var turno_vacios = [];
		$.ajax({
			method: "GET",
			url: "http://127.0.0.1:8000/get_terapias",
			dataType: "json",
			data: jsonObject
		}).done(function (data) {
			for (let i = 0; i < data.terapias_a.length; i++) {
				$(".terapia").append($("<option class='option_terapia'>").attr('value', data.terapias_a[i].id).text(data.terapias_a[i].nombre_terapia));
			}
			$('.terapia').removeAttr('disabled');

			$(".terapia").change(function () {
				$('.servicio').attr('disabled', 'disabled');
				$('.option_servicio').remove();
				$('.turno').attr('disabled', 'disabled');
				$('.turno').empty().append('<option value="por_defecto" class="defecto">Elija su turno</option>');
				$('#datepicker').datepicker('setDate', null);
				$('#datepicker').datepicker('destroy');
				$('#datepicker').attr('disabled', 'disabled');
				turno_vacios = [];
				var turno = $('.terapia :selected').val();
				$.ajax({
					method: "GET",
					url: "http://127.0.0.1:8000/get_servicios/" + turno,
					dataType: "json",
					data: jsonObject
				}).done(function (data) {
					//console.log(data);
					for (let i = 0; i < data.servicios_a.length; i++) {
						$(".servicio").append($("<option class='option_servicio'>").attr('value', data.servicios_a[i].id_servicio).text(data.servicios_a[i].nombre_servicio));
					}
					$('.servicio').removeAttr('disabled');
					//console.log(data.servicios_a[0].nombre_servicio);

				});
			})
		})


		$(".servicio").change(function () {
			$('#datepicker').datepicker('setDate', null);
			$('#datepicker').datepicker('destroy');
			$('#datepicker').removeAttr('disabled');
			$('.turno').attr('disabled', 'disabled');
			$('.turno').empty().append('<option value="por_defecto" class="defecto">Elija su turno</option>');
			$('#image').prepend('<img id="psicologo" src="images/default.jpg" class="img-fluid"/>')
			$.ajax({
				url: 'http://127.0.0.1:8000/reservar_cita',
				async: false,
				success: function (data) {
					fechas = JSON.parse(data)["fechas"];
					//console.log(fechas);
					if (fechas != undefined) {
						for (let i = 0; i < fechas.length; i++) {
							fecha = new Date(fechas[i].fecha.date);
							bDates[i] = { fecha: new Date(fecha) }

							// populate the array
							for (var d = new Date(fecha); d <= new Date(fecha); d.setDate(d.getDate() + 1)) {
								dateRange.push($.datepicker.formatDate('dd/mm/yy', d));
							}
						}
					}


					$("#datepicker").datepicker({
						dateFormat: 'dd/mm/yy',
						minDate: 0, //restrict user to choose previous date
					});

					$("#datepicker").change(function () {
						$('.turno').empty().append('<option value="por_defecto" class="defecto">Elija su turno</option>');
						var fecha = $("#datepicker").datepicker("getDate");
						var new_fecha_datepicker = fecha.getFullYear() + '-' + (fecha.getMonth() + 1) + '-' + fecha.getDate();

						//console.log(new_fecha_datepicker, "FECHA NORMALIZADA");

						$.ajax({
							url: 'http://127.0.0.1:8000/comprobar_cita/' + new_fecha_datepicker,
							async: false,
							success: function (data) {
								fechas = JSON.parse(data)["fechas"];
								turno_vacios = [{ id: 1, puesto: 'primero' }, { id: 2, puesto: 'segundo' }, { id: 3, puesto: 'tercero' }, { id: 4, puesto: 'cuarto' }, { id: 5, puesto: 'quinto' }];
								var indexOfObject;
								if (fechas != undefined) {
									for (let i = 0; i < fechas.length; i++) {
										if (fechas[i].turno <= 5) {
											switch (fechas[i].turno) {
												case 1:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 1;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
												case 2:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 2;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
												case 3:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 3;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
												case 4:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 4;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
												case 5:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 5;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
												default:
													indexOfObject = turno_vacios.findIndex(object => {
														return object.id === 0;
													});
													turno_vacios.splice(indexOfObject, 1);
													break;
											}
										} else {

										}
									}
									console.log(turno_vacios);
									$(turno_vacios).each(function () {
										$(".turno").append($("<option class='option_turno'>").attr('value', this.id).text(this.puesto));
										$('.turno').removeAttr('disabled');
										$('#pasa').removeAttr('disabled');

										var d = new Date();

										var month = d.getMonth() + 1;
										var day = d.getDate();

										var output = d.getFullYear() + '/' +
											(month < 10 ? '0' : '') + month + '/' +
											(day < 10 ? '0' : '') + day;

										$("#pasa").unbind().click(function () {
											nombre_servicio = $('.servicio :selected').val();
											turno = $('.turno :selected').val();
											jsonObject = {
												"fecha_cita": new_fecha_datepicker,
												"precio_cita": 55,
												"servicio_escogido": nombre_servicio,
												"turno": turno,
											}
											console.log(jsonObject);
											$.ajax({
												method: "POST",
												url: "/reservar",
												dataType: "json",
												data: jsonObject
											}).done(function (data) {
												window.location.href = 'http://127.0.0.1:8000/';
											});
										});
									});
								} else {
									$(turno_vacios).each(function () {
										$(".turno").append($("<option class='option_turno'>").attr('value', this.id).text(this.puesto));
										$('.turno').removeAttr('disabled');
										$('#pasa').removeAttr('disabled');

										var d = new Date();

										var month = d.getMonth() + 1;
										var day = d.getDate();

										var output = d.getFullYear() + '/' +
											(month < 10 ? '0' : '') + month + '/' +
											(day < 10 ? '0' : '') + day;

										$("#pasa").unbind().click(function () {
											nombre_terapia = $('.terapia :selected').val();
											nombre_servicio = $('.servicio :selected').val();
											turno = $('.turno :selected').val();
											if(nombre_terapia == 'Elija su terapia' && nombre_servicio == 'Elija su servicio'){
												window.alert("Escoja una terapia y un servicio para continuar con la cita");
											}else if(nombre_terapia == 'Elija su terapia'){
												window.alert("Escoja una terapia para continuar con la cita");
											}else if(nombre_servicio == 'Elija su servicio'){
												window.alert("Escoja un servicio para continuar con la cita");
											}else{
												jsonObject = {
													"fecha_cita": new_fecha_datepicker,
													"precio_cita": 55,
													"servicio_escogido": nombre_servicio,
													"turno": turno,
												}
												console.log(jsonObject);
												$.ajax({
													method: "POST",
													url: "/reservar",
													dataType: "json",
													data: jsonObject
												}).done(function (data) {
													window.location.href = 'http://127.0.0.1:8000/';
												});
											}
											
										});
									})
								}

							}
						})

					});
				}


			})
		})
	})
</script>

{% endblock %}

{% block body %}
<body id="top">

		<header>
			<div class="header-top-bar">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<ul class="top-bar-info list-inline-item pl-0 mb-0">
								<li class="list-inline-item">
									<a href="mailto:support@gmail.com">
										<i class="icofont-support-faq mr-2"></i>support@consultoria_psicologia.com</a>
								</li>
								<li class="list-inline-item">
									<i class="icofont-location-pin mr-2"></i>Encuentra tu gabinete ideal para tu cita
								</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
								<a href="tel:+23-345-67890">
									<span>Llama ahora para reservar tu cita! :
									</span>
									<span class="h4">776449938</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navigation" id="navbar">
				<div class="container">
					<a class="navbar-brand" href="{{ path('app_index')}}">
						<img src="images/logo.png" alt="" class="img-fluid">
					</a>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icofont-navigation-menu"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarmain">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('app_index')}}">Inicio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_citas')}}">Reservas</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Información
									<i class="icofont-thin-down"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdown02">
									<li>
										<a class="dropdown-item" href="{{ path('show_terapias')}}">Terapias</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('show_servicios')}}">Servicios Disponibles</a>
									</li>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Psicologos y Gabinetes
									<i class="icofont-thin-down"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdown03">
									<li>
										<a class="dropdown-item" href="doctor.html">Psicologos</a>
									</li>
									<li>
										<a class="dropdown-item" href="doctor-single.html">Gabinetes</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

	<div class="site-section mt-3 main">
		<div class="container mb-3"> 
				<div class="container mb-3 d-flex p-2">
					<div class="row">
						<p class="seleccionar_terapia">Seleccionar Tipo de Terapia:</p>
						<select class="terapia custom-select" disabled> 
							<option class="por_defecto"> Elija su terapia </option>
						</select>
					</div>
				</div>

				<div class="container mb-3 d-flex p-2">
					<div class="row">
						<p class="seleccionar_servicio">Escoger Servicio:</p>
						<select class="servicio custom-select" disabled>
							<option class="por_defecto"> Elija su servicio </option>
						</select>
					</div>
				</div>

				<div class="container mb-3 d-flex p-2">
					<div class="row">
						<p>Seleccionar fecha inicio:
							<input type="text" id="datepicker" disabled autocomplete="off" class="form-control"></p>
					</div>
				</div>

				<div class="container mb-3 d-flex p-2">
					<div class="row select_turno">
						<p class="seleccionar_turno">Escoger Turno:</p>
						<select class="turno custom-select" disabled> 
							<option class="por_defecto"> Elija su turno </option>
						</select>
					</div>
				</div>
				
				<div class="container d-flex p-2">
					<div class="row">
						<input id="pasa" class="btn btn-danger py-3 px-5" value="Crear Cita">
					</div>
			</div>
		</div>
		<div class="container image">
			
		</div>
	</div>
		<!-- footer Start -->
		<footer class="footer section gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mr-auto col-sm-6">
						<div class="widget mb-5 mb-lg-0">
							<div class="logo mb-4">
								<img src="images/logo.png" alt="" class="img-fluid">
							</div>
							<p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

							<ul class="list-inline footer-socials mt-4">
								<li class="list-inline-item">
									<a href="https://www.facebook.com/themefisher">
										<i class="icofont-facebook"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://twitter.com/themefisher">
										<i class="icofont-twitter"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.pinterest.com/themefisher/">
										<i class="icofont-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="widget mb-5 mb-lg-0">
							<h4 class="text-capitalize mb-3">Department</h4>
							<div class="divider mb-4"></div>

							<ul class="list-unstyled footer-menu lh-35">
								<li>
									<a href="#">Surgery
									</a>
								</li>
								<li>
									<a href="#">Wome's Health</a>
								</li>
								<li>
									<a href="#">Radiology</a>
								</li>
								<li>
									<a href="#">Cardioc</a>
								</li>
								<li>
									<a href="#">Medicine</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="widget mb-5 mb-lg-0">
							<h4 class="text-capitalize mb-3">Support</h4>
							<div class="divider mb-4"></div>

							<ul class="list-unstyled footer-menu lh-35">
								<li>
									<a href="#">Terms & Conditions</a>
								</li>
								<li>
									<a href="#">Privacy Policy</a>
								</li>
								<li>
									<a href="#">Company Support
									</a>
								</li>
								<li>
									<a href="#">FAQuestions</a>
								</li>
								<li>
									<a href="#">Company Licence</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="widget widget-contact mb-5 mb-lg-0">
							<h4 class="text-capitalize mb-3">Get in Touch</h4>
							<div class="divider mb-4"></div>

							<div class="footer-contact-block mb-4">
								<div class="icon d-flex align-items-center">
									<i class="icofont-email mr-3"></i>
									<span class="h6 mb-0">Support Available for 24/7</span>
								</div>
								<h4 class="mt-2">
									<a href="tel:+23-345-67890">Support@email.com</a>
								</h4>
							</div>

							<div class="footer-contact-block">
								<div class="icon d-flex align-items-center">
									<i class="icofont-support mr-3"></i>
									<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
								</div>
								<h4 class="mt-2">
									<a href="tel:+23-345-67890">+23-456-6588</a>
								</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="footer-btm py-4 mt-5">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6">
							<div class="copyright">
								&copy; Copyright Reserved to
								<span class="text-color">Novena</span>
								by
								<a href="https://themefisher.com/" target="_blank">Themefisher</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
								<form action="#" class="subscribe">
									<input type="text" class="form-control" placeholder="Your Email address">
									<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
								</form>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							<a class="backtop js-scroll-trigger" href="#top">
								<i class="icofont-long-arrow-up"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>


	

{% endblock %}